/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #c6a9aa;
}

main {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 10fr;
  width: 900px;
}
