* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b79b9b;
  color: #2c1e1e;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 60px 80px;
}

.left h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.left h3 {
  font-size: 18px;
  margin: 30px 0 10px;
}

.left p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 15px;
}

.section {
  margin-top: 20px;
}

.right {
  display: grid;
  gap: 30px;
}

.right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.btn {
  display: inline-block;
  margin: 20px 0;
  padding: 12px 24px;
  background-color: #a87c7c;
  border: 2px solid #5c3c3c;
  color: #2c1e1e;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #5c3c3c;
  color: white;
}

.menu-popover {
  width: 70%;
  min-width: 400px;
  max-width: 1100px;
  height: 85vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  border-radius: 8px;
  background: #e7e1e1;
  padding: 60px;
}

.menu-popover:popover-open {
  animation: popIn 0.25s ease forwards;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.menu-popover:popover-open::backdrop {
  animation: backdropFade 0.25s ease forwards;
}

.menu-popover:popover-open .close-btn:hover {
  background: #5c3c3c;
  transform: scale(1.1);
}

@keyframes backdropFade {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.4);
  }
}

.menu-content {
  height: 100%;
  overflow-y: auto;
  padding-right: 20px;
}

.menu-content::-webkit-scrollbar {
  width: 10px;
}

.menu-content::-webkit-scrollbar-thumb {
  background: #b58f8f;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #2c1e1e;
  color: white;
  border: none;
  font-size: 26px;
  padding: 10px 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin: 40px 0;
  padding: 10px 0;
  border-top: 1px solid #2c1e1e;
  border-bottom: 1px solid #2c1e1e;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.menu-grid h2 {
  margin-bottom: 20px;
}

.menu-item,
.drink-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.drink-item {
  margin-bottom: 12px;
}

.menu-item h4 {
  margin-bottom: 5px;
}

.small {
  font-size: 14px;
  color: #555;
}

.time {
  font-weight: bold;
  margin-bottom: 20px;
}

.sub-headline {
  margin-bottom: 20px;
}

.allergener {
  margin-top: 40px;
}

.intro {
  text-align: center;
  margin-bottom: 30px;
}

.price-info {
  margin-bottom: 10px;
}

.month {
  font-size: 32px;
  margin: 20px 0 20px;
  border-bottom: 2px solid #2c1e1e;
  display: inline-block;
  padding-bottom: 5px;
}

.event {
  margin-bottom: 30px;
}

.date {
  font-weight: bold;
  margin-bottom: 5px;
}

.ticket-btn {
  display: block;
  margin: 60px auto 20px;
  padding: 14px 30px;
  background: #2c1e1e;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
