<body>

<article class="åbningstider">
    <h2 class="titel">Caféens åbningstider</h2>  

<div class="flex-container">
<div class="dag">
<p>Mandag</p>
<p>Tirsdag</p>
<p>Onsdag</p>
<p>Torsdag</p>
<p>Fredag</p>
<p>Lørdag</p>
<p>Søndag</p>
</div>

<div class="tid">
<p>12 - 16 (selvbetjening)</p>
<p>12 - 17</p>
<p>12 - 20 (onsdagsgryde)</p>
<p>12 - 20 (fællespisning)</p>
<p>12 - 16</p>
<p>Lukket</p>
<p>Lukket</p>
</div>
</div>
</article>  
</body>

<style>
.h2{
        text-align: center;
        color: #261321;

    }
.flex-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.dag .tid{
    display: block;
    color: #261321;
}
</style>