<article>
  <div>
    <h1>Café Karen</h1>
    <h3>Vores café er hjertet i huset og rummer alt fra børnefamilier, studerende, gamle aktivister til stamkunder og mange mange andre – vi er åbne for alle.</h3>
    <div class="citat">
      <h3>“.Det handler om mennesker”</h3>
      <h3>Maria, Kultur- og kommunikationsansvarlig -</h3>
    </div>
  </div>
  <div>
    <img src="/img/beskrivelse.webp" alt="" />
  </div>
</article>

<style>
  article {
    gap: 1rem;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 25rem;
  }

  img {
    width: 500px;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #261321;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #261321;
  }

  .citat {
    margin-top: 2rem;
    padding-top: 5rem;
    padding: 1rem;
    z-index: 10;
  }

  .citat h3 {
    font-size: 1.5rem;
    font-weight: 600;
    direction: rtl;
    color: #76505d;
  }
</style>
