<body>
<article class="cta">
    <h2 class="titel">Besøg Café Karen for Kaffen</h2>
    <p>Vi glæder os til at byde jer velkommen!</p>
</article>   
<style>
    .cta{
        text-align: center;
        margin: 20px;
    
    }

    .h2{
        text-align: center;
        color: #261321;
        font-size: 30px;
        font-weight: 600;
        padding: 20px;
    }
    .p{
        text-align: center;
        color:#261321;
        font-size: 20px;
    }

</style>
</body>