<body>
  <article class="cta">
    <video autoplay muted loop>
      <source src="public/baggrund.mp4" />
    </video>
    <h3 class="titel">Vi glæder os til at byde jer velkommen!</h3>
  </article>

  <style>
    .cta {
      margin: 20px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .video {
      align-items: center;
      margin-bottom: 20px;
    }

    .titel {
      color: #261321;
      font-size: 30px;
      font-weight: 600;
      margin: 30px;
    }
  </style>
</body>
