<body>
  <article class="cta">
    <video autoplay muted loop>
      <source src="/baggrund.mp4" />
    </video>
    <h3 class="titel">Vi glæder os til at byde jer velkommen!</h3>
  </article>

  <style>
    article {
      width: 1300px;
      padding-left: 18rem;
    }

    .cta {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 80px;
    }

    video {
      align-items: center;
      width: 800px;
    }

    .titel {
      color: #261321;
      font-size: 1.5rem;
      font-weight: 600;
    }
  </style>
</body>
