<footer>
  <div class="toe">
    <h4>Kontakt</h4>
    <p>Karens Minde Kulturhus</p>
    <p>Wagnersvej 19</p>
    <p>2450 København SV</p>
    <a href="https://findvej.dk/Wagnersvej19,2450"><p>Kort</p></a>
    <a href="https://kmkulturhus.dk/kontakt/"><p>Find medarbejder</p></a>
    <a href="https://kmkulturhus.dk/privatlivspolitik/"><p>Sydhavnens Bibliotek</p></a>
  </div>
  <div class="toe">
    <h4>Karens Minde er også</h4>
    <a href="https://bibliotek.kk.dk/sydhavnens-bibliotek"><p>Sydhavnens Bibliotek</p></a>
    <a href="www.bkultur.dk"><p>Børnekulturstedet</p></a>
    <a href="https://sydhavnteater.dk/"><p>Sydhavn Teater</p></a>
    <a href="https://boernenesdyremark.dk/"><p>Børnenes Dyremark</p></a>
    <a href="https://www.sydhavnenshistorie.dk/"><p>Kgs. Enghave Lokalhistoriske Arkiv</p></a>
    <a href="https://kongensenghavelokaludvalg.kk.dk/"><p>Kongens Enghave Lokaludvalg</p></a>
  </div>
  <div class="toe">
    <h4>Nyhedsbrev</h4>
    <a href="https://kmkulturhus.us12.list-manage.com/subscribe?u=2166e9af0f11a2e8ec20a0674&id=30333eb90e">Tilmeld dig her</a>
    <p></p>
    <br />
    <h4>Bliv frivillig</h4>
    <p>Hele husets eksistens hviler på frivilliges indsats.</p>
    <a href="https://kmkulturhus.dk/frivillig-paa-karens-minde/">Se hvordan du bliver en del af os!</a>
  </div>
  <div class="">
    <div class="logoer">
      <img src="/public/img/logo1.webp" alt="" />
      <img src="/public/img/logo2.webp" alt="" />
      <img src="/public/img/logo3.webp" alt="" />
      <img src="/public/img/logo4.webp" alt="" />
    </div>
  </div>
</footer>

<style>
  footer {
    display: grid;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    padding: 18rem;
    padding-block: 0;
    padding-bottom: 4rem;
    padding-top: 3rem;
    color: #261321;
  }

  a {
    color: #261321;
  }

  .toe {
    padding: 1rem;
    padding-top: 0;
    width: 300px;
  }

  .logoer {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
