---
import Slideshow from "../components/Slideshow.astro"
import Beskrivelse from "../components/Beskrivelse.astro"
import FaqSection from "../components/FaqSection.astro"
---
<h1>Hallo</h1>
<Slideshow/>
<Beskrivelse/>
<FaqSection/>