<div class="raket">
  <img src="/img/kmk-raket.svg" alt="" />
</div>

<style>
  img {
    width: 80px;
    padding-bottom: 8rem;
  }

  .raket {
    padding-left: 0.5rem;
    position: fixed;
  }
</style>
